*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #E0C778;
}

header {
  text-align: center;
  background-color: #777445;
  border-bottom: 3px solid black;
}

header h1{
  padding-bottom: 10px;
}

header nav{
  list-style: none;
  padding-bottom: 10px;
}
#explain{
  margin-left: 10px;
}

body div{
  width: auto;
}

body div h2{
  background-color: #A74826;
  text-align: center;
  color: white;
}

body div p{
  text-align: center;
  font-weight: bold;
  background-color: #777445;
  color: white;
}
body div ul{
  box-sizing: border-box;
  display: inline-block;
  width: 31%;
  margin: 1%;
  padding-bottom: 0px;
  padding-left: 0;
  border: 2px solid #A74826;
}

body div ul li{
  list-style: none;
  border: 1px solid #A74826;
  padding-left: 2px;
}
body div ul li:hover{
  background-color: #a74826;
  color: white;
}

table{
  border-radius: 10%;
  border: 40px ridge #777445;
  font-family: monospace;
  font-size: 1.3em;
  margin: 1% auto;
}
tr:hover {
  background-color: #A74826;
  color: white;
  font-weight: bold;
}

td {
	padding: 10px;
  border: 1px solid black;
  margin: 1% auto;
}

th {
	background-color: #A74826;
	color: white;
}

.locNameTable{
  background-color: #777445;
}

#addLocationForm{
  width: 60%;
  margin: 2% auto;
}

input{
  width: 48%;
}
label{
  display: inline-block;
  width: 240px;
  text-align: right;
  margin: 5px 0;
}

fieldset{
  text-align: center;
  border: 5px solid #A74826;
}

legend{
  font-size: 2em;
}


#A74826
#E0C778
#777445
